{% extends "base.html" %}

{% block content %}
<h4>Automobilio {{automobilis.gamintojas}} {{automobilis.modelis}} redagavimas</h4>
<form action="" method="post">
   <p>Automobilio gamintojas:</p>
    <p><input type="text" name="gamintojaslaukelis" value="{{ automobilis.gamintojas }}"></p>
    <p>Automobilio modelis:</p>
    <p><input type="text" name="modelislaukelis" value="{{ automobilis.modelis }}"></p>
    <p>Automobilio spalva:</p>
    <p><input type="text" name="spalvalaukelis" value="{{ automobilis.spalva }}"></p>
    <p>Automobilio metai:</p>
    <p><input type="number" name="metailaukelis" value="{{ automobilis.metai }}"></p>
    <p>Automobilio variklis:</p>
    <p><input type="text" name="variklislaukelis" value="{{ automobilis.variklis }}"></p>
    <p>Automobilio kaina:</p>
    <p><input type="number" name="kainalaukelis" value="{{ automobilis.kaina }}"></p>
    <p><input type="submit" value="išsaugoti"></p>
</form>
{% endblock %}
